.StripeElement {
  background-color: #2e2e2e;
  padding: 10px 12px;
  border: 1px solid #666666;
  border-radius: 6px;
}

.StripeElement--invalid {
  border-color: #e63946;
}

.StripeElement--focus {
  border-color: #06c8dd;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
